@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --light-grey: #929292;
    --main-light: #4b6cb7;
    --main-dark: #182848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.container {
    min-height: 100vh;
    padding-bottom: 4rem;
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #182848,
        #4b6cb7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #182848,
        #4b6cb7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 4rem;
}

.header {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.logo img {
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: calc(100vh - 6rem);
    height: 100%;
    position: relative;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* flex-direction: column; */
}

.hero-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
    margin-bottom: 6rem;
}

.headline {
    color: white;
    font-weight: 500;
    font-size: 48px;
    z-index: 5;
}

.subheading {
    color: white;
    font-weight: normal;
    font-size: 24px;
    z-index: 5;
}

.hero-img {
    position: absolute;
    width: 330px;
    right: 100px;
    top: 50pxpx;
    /* z-index: 0; */
    flex: 1;
}

.hero-img img {
    transform: rotate(18deg);
    width: 100%;
}

.hero-card {
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
}

.convert-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin: auto 1rem;
}

.convert-logo img {
    width: 100%;
}

.bottom-text {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    color: white;
    /* line-height: 1px; */
}

.standard-rate {
    color: white;
    font-size: 36px;
    font-weight: normal;
    margin: 2rem 0;
}

.more-btn {
    width: 240px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.right-icon {
    margin-left: 1rem;
}

.more-btn:hover {
    background-color: white;
    color: var(--main-light);
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .input-box {
        flex-direction: column;
    }

    .convert-logo {
        margin: 2rem auto;
    }
}

.rate-container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 2rem 4rem;
}

.rate-info-title {
    margin: 2rem 0;
}

.rate-info-title h1 {
    font-size: 48px;
}

.rate-info-title p {
    font-size: 1.2rem;
    color: var(--light-grey);
}

.rate-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
